h1{
    margin-left: 40% !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

h2{
    margin-left: 45% !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.p-3{
    background:rgba(46, 6, 99, 0.31);
    border: solid 1px #000000; 
    border-radius: 5px;
    //width: 60%;
    
}

.table1{
    border-collapse: collapse;
    max-width: 60%;
    margin-inline: 20%;
    
}
.table1 th,
.table1 td {
  border: 1px solid #ddd; /* Define un borde para las celdas */
  padding: 8px;
}


.PD{
    margin-left: 42% !important;
}

.b_c{
    background:rgba(46, 6, 99, 0.31) !important;
    border: solid 1px #000000 !important; 
    border-radius: 5px !important;
}

.b_a{
    background:rgba(46, 6, 99, 0.31) !important;
    border: solid 1px #000000 !important; 
    border-radius: 5px !important;
}

.b_ap_1{
    background:rgba(46, 6, 99, 0.31) !important;
    border: solid 1px #000000 !important; 
    border-radius: 5px !important;
    margin-left: 42% !important;
    margin-bottom: 20px;
}

.b_gb{
    background:rgba(46, 6, 99, 0.31) !important;
    border: solid 1px #000000 !important; 
    border-radius: 5px !important;
    margin-left: 10px;
    margin-bottom: 20px;
}