.title{
    margin-left: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 30%;
}

.table1{
    border: 1px solid white;
    width: 60%; 
    text-align: left; 
    border-collapse: collapse;
    margin-left: 30px;
}

.search-bar{
      margin-left: 15px;
      margin-bottom: 20px;
      padding-right: 30px;
      width: 50%;
      border: 1px solid #ddd;
      border-radius: 5px;
}

.m_button{
    margin-left: 10px;
    background: rgba(46, 6, 99, 0.31);
    border: solid 1px #000000;
    padding: 5px 10px;
    border-radius: 5px;
}

.title2{
    margin-left: 100px;    
}

.title3{
    margin-left: 300px;    
}

.b_seller{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 400px;
    text-align: left;
}
.b_total{
    margin-left: 30px;
    margin-bottom: 20px;
    width: 400px;
    text-align: left;
}

.b_date{
    margin-left: 30px;
    margin-bottom: 20px;
    width: 400px;
    text-align: left;
}

.b_status{
    margin-left: 30px;
    margin-bottom: 0px;
    width: 400px;
    text-align: left;
}

.b_close{
    background:rgba(46, 6, 99, 0.31);
    border: solid 1px #000000; 
    border-radius: 5px;
}

.b_save{
    background:rgba(46, 6, 99, 0.31);
    border: solid 1px #000000; 
    border-radius: 5px;
}